body {
    background-color: black;
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game-window {
    width: 90vw;
    height: 90vmin;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    background-size:cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 5vh;
    /* background-size cover and contain both look fine but are a matter of prefference. change them
    around as you wish */

}

.dialogue {
    background-color: rgba(10,10,10,0.8);
    width: 60%;
    border-radius: 7px;
    padding: 10px;
    position: absolute;
    bottom: 12vmin;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.name {
    text-align: left;
    color: white;
}

.text {
    overflow-y: auto;
    max-height: 11vmin;
    min-height: 11vmin;
    text-align: left;
    color: white;
}

.choice {
    margin-top: 80vmin;
    border-radius: 5px;
    min-width: 15%;
    aspect-ratio: 7/3;
    height: 50px;
    vertical-align:bottom;
    border-style: none;
    background-color: darkgray;
    
}
.choice:hover{
    transition:0.2s ease-in-out;
    transform: scale(1.05);
}

.choice:active{
    transition:0.03s ease-in-out;
    background-color: rgb(44, 44, 44);
    color: white;
}